{% extends "layout.html" %}

{% block body %}
<h3>Ben Kimim?</h3>
<hr>
<p> 8 yılı aşkın süredir dijital dünyada maaşlı olarak çalışıyorum. Ancak onun da çok öncesinde çocukluğumdan beri en büyük ilgim her zaman dijital oldu. Şu anda Şubat 2020’den beri Eczacıbaşı Yapı Ürünleri Grubunda Dijital Pazarlama Uzmanı olarak çalışıyorum. VitrA ve Artema’ya ait web siteleri ve mobil uygulamalarının yönetimi ve geliştirmeleri konusunda çalışıyorum. Aynı zamanda da şirketteki dijital dönüşüm projeleri için çalışmaktayım.</p>
<br>
<p>Eczacıbaşı’dan önce Voden Leo Burnett’te Senior Project Manager olarak çalıştım. Çalışma sürem boyunca Peugeot Türkiye ve DS Automobiles Türkiye’ye ait web siteleri, mobil uygulamalar ve dijital reklam kampanyaları gibi tüm dijital varlıkların yönetimini yaptım. Voden Leo Burnett’te dijital pazarlamanın temellerini öğrendim. Ayrıca müşterilerim için yeni projeler geliştirmenin de çokça tadına vardım.</p>
<br>
<p>Voden Leo Burnett’ten önce Pixelplus’ta Project Manager olarak çalıştım. Burada web siteleri ve mobil uygulamaların dinamiklerini öğrendim. Ayrıca burada çalışmaya başladığım andan itibaren de front-end kodlama öğrenmeye başladım.</p>
<br>
<p>Size yardım edebileceğimi düşündüğünüz bir projeniz varsa benimle iletişime geçebilirsiniz.</p>
<hr>
{% endblock %}